html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #abd9da;
}

ul {
  padding: 0;
}

header .logo-link {
  display: block;
  margin: 16px auto;
  height: 100px;
  width: max-content;
}

aside a {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  color: black;
}

/* Razor style */

.courses {
  list-style: "✅ ";
  margin-left: 20px;
}


@media only screen and (min-width: 600px) {

  header .logo-link {
    margin: 20px 2vw;
    height: calc(100% - 40px);
    width: 260px;
  }
}