@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<div>
    <h1 class="display-4">Om mig</h1>
    <p>Jag heter Calle Alexanderson och är just nu en student på Mittuniversitet där jag studerar webbutveckling. Mina
        intressen inkluderar läsning, programmering, datorspel och brädspel. </p>
</div>
