@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Välkommen!</h1>
    <p>Välkommen till denna sidan där jag använt Razor, här kommer lite lorem för att fyll tomrummet: Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Neque temporibus quis laborum sunt enim. Fugit pariatur
        necessitatibus voluptas quo omnis eum possimus nostrum dolorem? Ea asperiores tenetur cumque repellendus
        similique. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam excepturi fuga ratione neque
        beatae, suscipit repellendus eius adipisci debitis? Magni consectetur atque necessitatibus provident cumque
        praesentium molestias veritatis voluptates nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Minima, nesciunt. Quis reprehenderit similique beatae nemo, ratione eius impedit, excepturi nihil ut officia
        tempora saepe vel obcaecati at quasi ipsam rerum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui,
        veniam quibusdam. Quas fugit necessitatibus ea! Corrupti expedita, sit atque repellendus aliquid omnis itaque,
        iusto beatae necessitatibus nemo quae. Beatae, ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nesciunt, qui eum animi voluptatum distinctio, ipsam iusto, dolore nisi a deleniti labore ex facere doloribus
        magnam numquam eligendi exercitationem molestiae voluptatibus! Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Voluptates quisquam ea ut tempora cumque commodi error aliquam? Et eligendi delectus, deleniti
        error similique officia suscipit velit adipisci asperiores, dolorum illo!
    </p>
</div>
